.version.aez /* version checker */
{
	color: #000019;
	background-color: #9D5F4D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -32px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pu2476
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 42px;
}

#u2476
{
	z-index: 26;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo%20vector.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2476
{
	background-image: url("../images/logo%20vector_2x.jpg");
}

#u2477
{
	z-index: 27;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u2475-4
{
	z-index: 22;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 209px;
}

#pu2474
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u2474
{
	z-index: 21;
	height: 40px;
	background-color: #062D5D;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u2474-bw
{
	z-index: 21;
	height: 40px;
}

#u2480-4
{
	z-index: 29;
	width: 78px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 541px;
}

#u2486-4
{
	z-index: 38;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#pu2478
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u2478
{
	z-index: 28;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/01.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2478
{
	background-image: url("../images/01_2x.jpg");
}

#u2483
{
	z-index: 35;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 231px;
	background: transparent url("../images/05.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2483
{
	background-image: url("../images/05_2x.jpg");
}

#u2481
{
	z-index: 33;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 464px;
	background: transparent url("../images/02.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2481
{
	background-image: url("../images/02_2x.jpg");
}

#u2485
{
	z-index: 37;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 695px;
	background: transparent url("../images/06.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2485
{
	background-image: url("../images/06_2x.jpg");
}

#pu2482
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 22px;
}

#u2482
{
	z-index: 34;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/07.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2482
{
	background-image: url("../images/07_2x.jpg");
}

#u2487
{
	z-index: 42;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 231px;
	background: transparent url("../images/03.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2487
{
	background-image: url("../images/03_2x.jpg");
}

#u2489
{
	z-index: 43;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 464px;
	background: transparent url("../images/08.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2489
{
	background-image: url("../images/08_2x.jpg");
}

#u2484
{
	z-index: 36;
	width: 224px;
	height: 325px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 695px;
	background: transparent url("../images/04.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2484
{
	background-image: url("../images/04_2x.jpg");
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 8px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 7px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

