.version.bacon /* version checker */
{
	color: #00001F;
	background-color: #8D440C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -32px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pu2527
{
	width: 0.01px;
	margin-left: 290px;
	margin-top: 42px;
}

#u2527
{
	z-index: 26;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo3.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u2527
{
	background-image: url("../images/logo_2x3.png");
}

#u2528
{
	z-index: 27;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u2526-4
{
	z-index: 22;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 209px;
}

#pu2525
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u2525
{
	z-index: 21;
	height: 40px;
	background-color: #BA322F;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u2525-bw
{
	z-index: 21;
	height: 40px;
}

#u2532-4
{
	z-index: 28;
	width: 32px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 506px;
}

#u2533-4
{
	z-index: 32;
	width: 60px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 548px;
}

#u2534-4
{
	z-index: 36;
	width: 36px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 618px;
}

#u2539-4
{
	z-index: 43;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#pu2538
{
	width: 0.01px;
	margin-left: 224px;
	margin-top: 55px;
}

#u2538
{
	z-index: 42;
	width: 149px;
	height: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015504-ieu2538-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015504.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2538
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015504_2x.jpg");
}

#u2536
{
	z-index: 40;
	width: 149px;
	height: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 182px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015515-ieu2536-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015515.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2536
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015515_2x.jpg");
}

#u2537
{
	z-index: 41;
	width: 149px;
	height: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015524-ieu2537-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015524.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2537
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20015524_2x.jpg");
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 8px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 7px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

