.version.bandejao /* version checker */
{
	color: #0000EC;
	background-color: #4611F2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -31px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pu2574
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 42px;
}

#u2574
{
	z-index: 33;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021116.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2574
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021116_2x.jpg");
}

#u2575
{
	z-index: 34;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#pu2573-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 196px;
}

#u2573-4
{
	z-index: 29;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2578-4
{
	z-index: 43;
	width: 170px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u2578-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 170px;
	margin: 2px 0px 0px;
}

#pu2572
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u2572
{
	z-index: 28;
	height: 40px;
	background-color: #A40B10;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u2572-bw
{
	z-index: 28;
	height: 40px;
}

#u2576-4
{
	z-index: 35;
	width: 32px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 540px;
}

#u2577-4
{
	z-index: 39;
	width: 36px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 582px;
}

#u2571-4
{
	z-index: 24;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#pu2570
{
	width: 0.01px;
	margin-left: 224px;
	margin-top: 55px;
}

#u2570
{
	z-index: 23;
	width: 150px;
	height: 263px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021007-ieu2570-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021007.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2570
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021007_2x.jpg");
}

#u2568
{
	z-index: 21;
	width: 150px;
	height: 263px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 182px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021020-ieu2568-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021020.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2568
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021020_2x.jpg");
}

#u2569
{
	z-index: 22;
	width: 150px;
	height: 263px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021030-ieu2569-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021030.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2569
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20021030_2x.jpg");
}

#pu2861-4
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: 28px;
}

#u2861-4
{
	z-index: 47;
	width: 132px;
	min-height: 7px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2862-4
{
	z-index: 51;
	width: 55px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u2862-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u2864-4
{
	z-index: 59;
	width: 209px;
	min-height: 7px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u2863-4
{
	z-index: 55;
	width: 107px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u2863-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2578-4:hover p,#u2862-4:hover p,#u2863-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 7px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 6px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 9px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

