.version.contato /* version checker */
{
	color: #000004;
	background-color: #86BA94;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -32px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pbuttonu2912
{
	width: 0.01px;
	margin-left: 122px;
	margin-top: 56px;
}

#buttonu2912
{
	z-index: 55;
	width: 135px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	padding-right: 1px;
	padding-bottom: 1.3500000000001648px;
	position: relative;
	margin-right: -10000px;
}

#u2916-4
{
	z-index: 56;
	width: 134px;
	min-height: 11px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2915
{
	z-index: 60;
	width: 120px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: transparent url("../images/paulo2.png") no-repeat center center;
	background-size: cover;
}

#buttonu2912.ButtonSelected #u2915
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 120px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
	background-size: cover;
}

#u2914
{
	z-index: 61;
	width: 120px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #F02685;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2912:hover #u2914
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 120px;
	height: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2913
{
	z-index: 62;
	width: 130px;
	height: 130px;
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu2912:hover #u2913
{
	border-color: #F02685;
	width: 130px;
	height: 130px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#buttonu2053
{
	z-index: 29;
	width: 135px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	padding-right: 1px;
	padding-bottom: 1.3500000000001648px;
	position: relative;
	margin-right: -10000px;
	left: 580px;
}

#buttonu2912.ButtonSelected,#buttonu2053.ButtonSelected
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2055-4
{
	z-index: 30;
	width: 134px;
	min-height: 11px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu2912.ButtonSelected #u2916-4,#buttonu2053.ButtonSelected #u2055-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 134px;
	margin: 0px;
}

#pu2915,#pu2054
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 5px;
}

#u2054
{
	z-index: 34;
	width: 120px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: transparent url("../images/camada-4.png") no-repeat center center;
	background-size: cover;
}

#buttonu2053:hover #u2054
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 120px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/camada-8.png") no-repeat center center;
	background-size: cover;
}

#buttonu2053.ButtonSelected #u2054
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 120px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
	background: transparent url("../images/camada-4.png") no-repeat center center;
	background-size: cover;
}

#u2056
{
	z-index: 35;
	width: 120px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #F02685;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2053:hover #u2056
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 120px;
	height: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2912.ButtonSelected #u2914,#buttonu2053.ButtonSelected #u2056
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 120px;
	height: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2057
{
	z-index: 36;
	width: 130px;
	height: 130px;
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu2053:hover #u2057
{
	border-color: #F02685;
	width: 130px;
	height: 130px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#buttonu2912.ButtonSelected #u2913,#buttonu2053.ButtonSelected #u2057
{
	border-color: #DCDCDC;
	width: 130px;
	height: 130px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#pu2917-10
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u2917-10
{
	z-index: 63;
	width: 340px;
	min-height: 94px;
	background-color: transparent;
	color: #242424;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2058-10
{
	z-index: 37;
	width: 340px;
	min-height: 94px;
	background-color: transparent;
	color: #242424;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 580px;
}

#u2917-2,#u2917-3,#u2058-2,#u2058-3
{
	text-align: center;
}

#u2917-5,#u2917-6,#u2917-8,#u2058-5,#u2058-6,#u2058-8
{
	text-align: justify;
}

#u2049-4
{
	z-index: 25;
	width: 134px;
	min-height: 11px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 413px;
	margin-top: 31px;
	position: relative;
}

#buttonu2048
{
	z-index: 21;
	width: 226px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 367px;
	margin-top: 8px;
	position: relative;
}

#buttonu2048.ButtonSelected
{
	width: 226px;
	min-height: 0px;
	margin: 8px 0px 0px 367px;
}

#u2050
{
	z-index: 22;
	width: 203px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 13px;
	background: transparent url("../images/pm-preto-ieu2050-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/pm-preto.png") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#buttonu2048:hover #u2050
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 203px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/pm-color-ieu2050-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/pm-color.png") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#buttonu2048.ButtonSelected #u2050
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 203px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/pm-preto-ieu2050-a-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/pm-preto.png") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u2052
{
	z-index: 23;
	width: 203px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #F02685;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2048:hover #u2052
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 203px;
	height: 203px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2048.ButtonSelected #u2052
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 203px;
	height: 203px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2051
{
	z-index: 24;
	width: 220px;
	height: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 4px;
}

#buttonu2048:hover #u2051
{
	border-color: #F02685;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#buttonu2048.ButtonSelected #u2051
{
	border-color: #DCDCDC;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u2059-4
{
	z-index: 47;
	width: 340px;
	min-height: 9px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 310px;
	margin-top: 9px;
	position: relative;
}

#u2060-4
{
	z-index: 51;
	width: 215px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 372px;
	margin-top: 9px;
	position: relative;
}

#u2060-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 215px;
	margin: 9px 0px 0px 372px;
}

#u2060-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 7px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 7px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

