.version.graz /* version checker */
{
	color: #0000E0;
	background-color: #2B3161;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -32px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pu2303
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 42px;
}

#u2303
{
	z-index: 25;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20194601.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2303
{
	background-image: url("../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20194601_2x.jpg");
}

#u2304
{
	z-index: 26;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#pu2302-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 209px;
}

#u2302-4
{
	z-index: 21;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2307-4
{
	z-index: 28;
	width: 170px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u2307-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 170px;
	margin: 1px 0px 0px;
}

#u2307-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#pu2308
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u2308
{
	z-index: 32;
	height: 40px;
	background-color: #1E1E1E;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u2308-bw
{
	z-index: 32;
	height: 40px;
}

#u2309-4
{
	z-index: 33;
	width: 36px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 563px;
}

#u2310-4
{
	z-index: 37;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u2306
{
	z-index: 27;
	width: 203px;
	height: 356px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	margin-left: 379px;
	margin-top: 45px;
	position: relative;
	background: transparent url("../images/ketoe-ieu2306-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/ketoe.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2306
{
	background-image: url("../images/ketoe_2x.jpg");
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 7px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 7px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

