#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2452-4,#u2458-4
{
	font-family: asap-n4, sans-serif;
}

#u2460-4,#u2461-4,#u2462-4,#u2464-4
{
	font-family: asap-n7, sans-serif;
}

