#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2393-4,#u2406-4
{
	font-family: asap-n4, sans-serif;
}

#u2401-4,#u2402-4,#u2403-4,#u2404-4
{
	font-family: asap-n7, sans-serif;
}

