#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2126-4,#u2132-4
{
	font-family: asap-n4, sans-serif;
}

#u2134-4,#u2135-4,#u2136-4,#u2137-4
{
	font-family: asap-n7, sans-serif;
}

#u2856-5
{
	font-family: asap-n4, sans-serif;
}

