#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2627-4,#u2628-4,#u2629-4,#u2630-4
{
	font-family: asap-n7, sans-serif;
}

#u2620-4,#u2632-4,#u2633-4,#u2634-4
{
	font-family: asap-n4, sans-serif;
}

