#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2261-4,#u2265-4
{
	font-family: asap-n4, sans-serif;
}

#u2273-4,#u2274-4
{
	font-family: asap-n7, sans-serif;
}

#u2859-4
{
	font-family: asap-n4, sans-serif;
}

