#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2573-4,#u2578-4
{
	font-family: asap-n4, sans-serif;
}

#u2576-4,#u2577-4
{
	font-family: asap-n7, sans-serif;
}

#u2861-4,#u2862-4
{
	font-family: asap-n4, sans-serif;
}

#u2864-4,#u2863-4
{
	font-family: asap-n4, sans-serif;
}

