#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2364-4,#u2370-4
{
	font-family: asap-n4, sans-serif;
}

#u2372-4,#u2373-4,#u2374-4,#u2377-4
{
	font-family: asap-n7, sans-serif;
}

