#u2224-4,#u2225-4
{
	font-family: asap-n4, sans-serif;
}

#u2096-4,#u2105-4
{
	font-family: asap-n4, sans-serif;
}

#u2109-4,#u2110-4,#u2111-4,#u2112-4
{
	font-family: asap-n7, sans-serif;
}

