.version.tetto /* version checker */
{
	color: #00000E;
	background-color: #2AF7BC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.65px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -31px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pu2345
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 42px;
}

#u2345
{
	z-index: 25;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logotetto.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u2345
{
	background-image: url("../images/logotetto_2x.png");
}

#u2346
{
	z-index: 26;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#pu2344-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 209px;
}

#u2344-4
{
	z-index: 21;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2347-4
{
	z-index: 27;
	width: 170px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2347-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 170px;
	margin: 0px;
}

#u2347-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#pu2351
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u2351
{
	z-index: 33;
	height: 40px;
	background-color: #003B7B;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u2351-bw
{
	z-index: 33;
	height: 40px;
}

#u2352-4
{
	z-index: 34;
	width: 24px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 568px;
}

#u2353-4
{
	z-index: 38;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#pu2349
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 54px;
}

#u2349
{
	z-index: 31;
	width: 450px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20002340.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2349
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20002340_2x.jpg");
}

#u2350
{
	z-index: 32;
	width: 450px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 470px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20002239.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2350
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20002239_2x.jpg");
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 7px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 6px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 9px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

