.version.turtle /* version checker */
{
	color: #0000FD;
	background-color: #55EB92;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -32px;
	width: 0.01px;
}

#pu2882
{
	width: 0.01px;
	margin-left: 20px;
}

#u2882
{
	z-index: 3;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
}

#u2889
{
	z-index: 9;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 733px;
}

#u2889_states
{
	height: 25px;
	width: 77px;
}

#u2888
{
	z-index: 5;
	width: 78px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 844px;
}

#u2888_states
{
	height: 24px;
	width: 78px;
}

#pu2365
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 42px;
}

#u2365
{
	z-index: 26;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo_simples.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u2365
{
	background-image: url("../images/logo_simples_2x.png");
}

#u2366
{
	z-index: 27;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#pu2364-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 209px;
}

#u2364-4
{
	z-index: 22;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2370-4
{
	z-index: 30;
	width: 170px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u2370-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 170px;
	margin: 2px 0px 0px;
}

#u2370-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#pu2371
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u2371
{
	z-index: 34;
	height: 40px;
	background-color: #63AD2B;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u2371-bw
{
	z-index: 34;
	height: 40px;
}

#u2372-4
{
	z-index: 35;
	width: 24px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 510px;
}

#u2373-4
{
	z-index: 39;
	width: 32px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 468px;
}

#u2374-4
{
	z-index: 43;
	width: 78px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 544px;
}

#u2377-4
{
	z-index: 48;
	width: 60px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 632px;
}

#u2378-4
{
	z-index: 52;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#pu2368
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 44px;
}

#u2368
{
	z-index: 29;
	width: 450px;
	height: 240px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20010535-u2368-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u2368
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20010535-u2368-fr_2x.jpg");
}

#u2367
{
	z-index: 28;
	width: 450px;
	height: 240px;
	position: relative;
	margin-right: -10000px;
	left: 469px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20010608-u2367-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u2367
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20010608-u2367-fr_2x.jpg");
}

#u2379-4
{
	z-index: 56;
	width: 920px;
	min-height: 5px;
	background-color: transparent;
	color: #242424;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 50px;
	position: relative;
}

#pu2363
{
	width: 0.01px;
	margin-left: 143px;
	margin-top: 32px;
}

#u2363
{
	z-index: 21;
	width: 289px;
	height: 395px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/tutorial_cup.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u2363
{
	background-image: url("../images/tutorial_cup_2x.jpg");
}

#u2376
{
	z-index: 47;
	width: 183px;
	height: 91px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 489px;
	background: transparent url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20130539-ieu2376-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20130539.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #u2376
{
	background-image: url("../images/captura%20de%20tela%202015-03-24%20%c3%a0s%20130539_2x.jpg");
}

#u2940
{
	z-index: 12;
	width: 82px;
	min-height: 50px;
	margin-left: 20px;
	margin-top: 7px;
}

#pu2249
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 7px;
}

#u2249
{
	z-index: 2;
	width: 58px;
	height: 30px;
	margin-right: -10000px;
}

#u2249:hover
{
	width: 58px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	z-index: 13;
	width: 164px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

#u2225-4
{
	z-index: 17;
	width: 160px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 228px;
}

#u2225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 160px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

