.version.drebito /* version checker */
{
	color: #0000E9;
	background-color: #FA1BD5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 490px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 60px;
}

#pbuttonu124
{
	width: 0.01px;
	margin-left: 34px;
}

#buttonu124
{
	z-index: 2;
	width: 139px;
	margin-right: -10000px;
}

#buttonu124.ButtonSelected
{
	width: 139px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	z-index: 4;
	height: 24px;
	width: 110px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 29px;
}

#u145
{
	z-index: 7;
	width: 17px;
	height: 17px;
	margin-right: -10000px;
	left: 6px;
}

#buttonu124:hover #u145
{
	width: 17px;
	height: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu124.ButtonSelected #u145
{
	width: 17px;
	height: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u146
{
	z-index: 8;
	width: 28px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 20px;
}

#buttonu124:hover #u146
{
	width: 28px;
	height: 16px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#buttonu124.ButtonSelected #u146
{
	width: 28px;
	height: 16px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#buttonu143
{
	z-index: 9;
	width: 142px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 170px;
}

#buttonu143:hover
{
	width: 142px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#buttonu143.ButtonSelected
{
	width: 142px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu151
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u151
{
	z-index: 13;
	width: 9px;
	height: 9px;
}

#buttonu143:hover #u151
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u147
{
	z-index: 10;
	width: 9px;
	height: 9px;
	margin-top: 5px;
}

#buttonu143:hover #u147
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#pu148
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 16px;
}

#u148
{
	z-index: 11;
	width: 9px;
	height: 9px;
}

#buttonu143.ButtonSelected #u151,#buttonu143:hover #u148
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#buttonu143.ButtonSelected #u148
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u150
{
	z-index: 12;
	width: 9px;
	height: 9px;
	margin-top: 5px;
}

#buttonu143.ButtonSelected #u147,#buttonu143:hover #u150
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#buttonu143.ButtonSelected #u150
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u144
{
	z-index: 15;
	height: 24px;
	width: 110px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 32px;
}

#pu736
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 32px;
}

#u736
{
	z-index: 22;
	width: 170px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/logo2.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u736
{
	background-image: url("../../images/logo_2x2.png");
}

#u740
{
	z-index: 23;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u737-4
{
	z-index: 18;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 189px;
}

#pu934
{
	width: 0.01px;
	margin-top: 10px;
}

#u934
{
	z-index: 35;
	height: 40px;
	background-color: #22B573;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u934-bw
{
	z-index: 35;
	height: 40px;
}

#u1047-4
{
	z-index: 36;
	width: 32px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u1050-4
{
	z-index: 40;
	width: 60px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 49px;
}

#u1051-4
{
	z-index: 44;
	width: 36px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 119px;
}

#u742-4
{
	z-index: 24;
	width: 330px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#pu746
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 23px;
}

#u746
{
	z-index: 30;
	width: 97px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/dreb%2003-u746-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u746
{
	background-image: url("../../images/dreb%2003-u746-fr_2x.jpg");
}

#u741
{
	z-index: 28;
	width: 97px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 114px;
	background: transparent url("../../images/captura%20de%20tela%202014-04-05%20%c3%a0s%20014932-u741-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u741
{
	background-image: url("../../images/captura%20de%20tela%202014-04-05%20%c3%a0s%20014932-u741-fr_2x.jpg");
}

#u739
{
	z-index: 29;
	width: 97px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 229px;
	background: transparent url("../../images/drebito02-u739-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u739
{
	background-image: url("../../images/drebito02-u739-fr_2x.jpg");
}

#u779-4
{
	z-index: 31;
	width: 302px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 39px;
	margin-top: 31px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

