.version.gesse /* version checker */
{
	color: #000007;
	background-color: #11034C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.8px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 82px;
	width: 0.01px;
}

#pbuttonu124
{
	width: 0.01px;
	margin-left: 34px;
}

#buttonu124
{
	z-index: 2;
	width: 139px;
	margin-right: -10000px;
}

#buttonu124.ButtonSelected
{
	width: 139px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	z-index: 4;
	height: 24px;
	width: 110px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 29px;
}

#u145
{
	z-index: 7;
	width: 17px;
	height: 17px;
	margin-right: -10000px;
	left: 6px;
}

#buttonu124:hover #u145
{
	width: 17px;
	height: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu124.ButtonSelected #u145
{
	width: 17px;
	height: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u146
{
	z-index: 8;
	width: 28px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 20px;
}

#buttonu124:hover #u146
{
	width: 28px;
	height: 16px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#buttonu124.ButtonSelected #u146
{
	width: 28px;
	height: 16px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#buttonu143
{
	z-index: 9;
	width: 142px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 170px;
}

#buttonu143:hover
{
	width: 142px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#buttonu143.ButtonSelected
{
	width: 142px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu151
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u151
{
	z-index: 13;
	width: 9px;
	height: 9px;
}

#buttonu143:hover #u151
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u147
{
	z-index: 10;
	width: 9px;
	height: 9px;
	margin-top: 5px;
}

#buttonu143:hover #u147
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#pu148
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 16px;
}

#u148
{
	z-index: 11;
	width: 9px;
	height: 9px;
}

#buttonu143.ButtonSelected #u151,#buttonu143:hover #u148
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#buttonu143.ButtonSelected #u148
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px;
}

#u150
{
	z-index: 12;
	width: 9px;
	height: 9px;
	margin-top: 5px;
}

#buttonu143.ButtonSelected #u147,#buttonu143:hover #u150
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#buttonu143.ButtonSelected #u150
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u144
{
	z-index: 15;
	height: 24px;
	width: 110px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 32px;
}

#pbuttonu605
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 32px;
}

#buttonu605
{
	z-index: 32;
	width: 169px;
	border-width: 2px;
	border-style: solid;
	border-color: #FBB03B;
	background-color: transparent;
	padding-bottom: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu605.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u606-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u589
{
	z-index: 22;
	width: 1px;
	height: 60px;
	background-color: #242424;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#pu587-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 189px;
}

#u587-4
{
	z-index: 18;
	width: 170px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u598-4
{
	z-index: 28;
	width: 170px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u940
{
	z-index: 44;
	height: 40px;
	background-color: #FBB03B;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u940-bw
{
	z-index: 44;
	height: 40px;
}

#u1034-4
{
	z-index: 45;
	width: 24px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 52px;
}

#u1035-4
{
	z-index: 49;
	width: 32px;
	min-height: 3px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#u597-4
{
	z-index: 23;
	width: 102px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#pu594
{
	width: 0.01px;
	margin-top: 11px;
}

#u594
{
	z-index: 27;
	width: 190px;
	height: 90px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193427-u594-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u594
{
	background-image: url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193427-u594-fr_2x.jpg");
}

#u635
{
	z-index: 42;
	width: 190px;
	height: 90px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
	background: transparent url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193444-u635-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u635
{
	background-image: url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193444-u635-fr_2x.jpg");
}

#pu608-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u608-4
{
	z-index: 37;
	width: 102px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	color: #242424;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2860-4
{
	z-index: 53;
	width: 170px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #E21E79;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u2860-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u2860-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#pu940,#pu622
{
	width: 0.01px;
	margin-top: 10px;
}

#u622
{
	z-index: 41;
	width: 190px;
	height: 90px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193551-u622-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u622
{
	background-image: url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193551-u622-fr_2x.jpg");
}

#u636
{
	z-index: 43;
	width: 190px;
	height: 90px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
	background: transparent url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193521-u636-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u636
{
	background-image: url("../../images/captura%20de%20tela%202015-03-23%20%c3%a0s%20193521-u636-fr_2x.jpg");
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

