#u1434-4,#u1433-4
{
	font-family: asap-n7, sans-serif;
}

#u1423-4,#u1514-4,#u1435-4,#u2866-4,#u2867-4
{
	font-family: asap-n4, sans-serif;
}

#u2869-4,#u2870-4,#u2868-4
{
	font-family: asap-n4, sans-serif;
}

