#buttonu124
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u125
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u125.png") no-repeat 0px 0px;
}

#buttonu124:hover #u125
{
	background: url("../../images/u125-r.png") no-repeat 0px 0px;
}

#buttonu124.ButtonSelected #u125
{
	background: url("../../images/u125-a.png") no-repeat 0px 0px;
}

.hidpi #u125
{
	background-image: url("../../images/u125_2x.png");
	background-size: 110px 24px;
}

.hidpi #buttonu124:hover #u125
{
	background-image: url("../../images/u125-r_2x.png");
	background-size: 110px 24px;
}

.hidpi #buttonu124.ButtonSelected #u125
{
	background-image: url("../../images/u125-a_2x.png");
	background-size: 110px 24px;
}

#u145
{
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
}

#buttonu124:hover #u145
{
	border-color: #F02685;
}

#u146
{
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	border-width: 1px 1px 0px;
}

#buttonu124:hover #u146
{
	border-color: #F02685;
}

#buttonu143
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u151
{
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	position: relative;
}

#buttonu143:hover #u151
{
	border-color: #F02685;
}

#u147
{
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	position: relative;
}

#buttonu143:hover #u147
{
	border-color: #F02685;
}

#u148
{
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	position: relative;
}

#buttonu143:hover #u148
{
	border-color: #F02685;
}

#u150
{
	border-width: 1px;
	border-style: solid;
	border-color: #242424;
	background-color: transparent;
	position: relative;
}

#buttonu143:hover #u150
{
	border-color: #F02685;
}

#buttonu124.ButtonSelected #u145,#buttonu124.ButtonSelected #u146,#buttonu143.ButtonSelected #u151,#buttonu143.ButtonSelected #u147,#buttonu143.ButtonSelected #u148,#buttonu143.ButtonSelected #u150
{
	border-color: #BEBEBE;
}

#u144
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u144.png") no-repeat 0px 0px;
}

#buttonu143:hover #u144
{
	background: url("../../images/u144-r.png") no-repeat 0px 0px;
}

#buttonu143.ButtonSelected #u144
{
	background: url("../../images/u144-a.png") no-repeat 0px 0px;
}

.hidpi #u144
{
	background-image: url("../../images/u144_2x.png");
	background-size: 110px 24px;
}

.hidpi #buttonu143:hover #u144
{
	background-image: url("../../images/u144-r_2x.png");
	background-size: 110px 24px;
}

.hidpi #buttonu143.ButtonSelected #u144
{
	background-image: url("../../images/u144-a_2x.png");
	background-size: 110px 24px;
}

